> # **Pandas Exercise - Kaggle**

In [1]:
import pandas as pd

# **Exercise Problems of Kaggle**

**Exercise - 1**

In [ ]:
fruits = pd.DataFrame(
    {
        "Apples": [30],
        "Bananas": [21]
    }
)

fruits # Last expression or variable which returns a value in the jupyter notebook will auto print the result

   Apples  Bananas
0      30       21

**Exercise - 2**

In [ ]:
fruit_sales = pd.DataFrame({
    "Apples": [35, 41],
    "Bananas": [21, 34]
}, index=["2017 Sales", "2018 Sales"] # This index line modifies the default index, and it goes by rows
)

fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

**Exercise - 3**

In [19]:
ingredients = pd.Series(["4 cups", "1 cup", "2 large", "1 can"], index = ["Flour", "Milk", "Eggs", "Spam"], name='Dinner')

ingredients

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

**Exercise - 4**

> "D:\image.png" if we use this path in python it will show warnings, cause \ refers to escape sequence in python. To avoid that we have to use **Raw String** which is like this **r"*path here*"**. We have to put **r** before the double quotes.

In [4]:
reviews = pd.read_csv(r"D:\Jupyter Notebook\Datasets\winemag-data_first150k.csv", index_col=0)
# index_col=0 -> it converts auto generated index from DataFrame to row's label
reviews

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

**Exercise - 5**

> Convert DataFrame into a csv file

In [9]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [11]:
animals.to_csv("cows_and_goats.csv")

print(animals.to_string())

        Cows  Goats
Year 1    12     22
Year 2    20     19